.nav-link{
    color: black !important;
}
.carousel-item img{
    height: 600px;
}
.footer ul li{
    list-style-type:none;
}
.footer{
    text-align: center;
}
.footer ul li a{
   text-decoration: none;
   color: white;

}
.footer ul li a:hover{

    text-decoration: underline;
}