#outer {

    min-height: 1000px;
    width: 1200px;
    border: 1px solid black;
    margin: 0px auto;
}
body{
    font-family: cursive;
}
*{
    margin: 0;
    padding: 0;
    border: none;
   
}
#header {
    height: 65px;
    width: 1200px;
    background: #a02d23;
}
#menu{
    padding-top: 5px;
    padding-left: 200px;
    box-sizing: border-box;
    width: 1200px;
    height: 50px;
    display: flex;
    gap: 30px;
}
#menu a{
    text-decoration: none;
    color: black;
    border: 1px solid red;
    padding: 10px 30px;
}

.col {
    width: 400px;
    height: 65px;
    float: left;
    background: #f2f2f2;
    text-align: center;
    font-size: 18px;
    padding-top: 11px;

    box-sizing: border-box;
}
.padding{
    border: 1px solid green;
    padding: 50px 100px;
  
    
}




